
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>
<div>First Page</div>
<div>
    <p>Kérem az ID-t:</p>
    <input id="inputId" type="number" placeholder="Ide egy számot pls." />
    <button id="BtnGetDB" type="submit">Gomb</button>

</div>
<div>
    <p id="text">Adatok feltöltése</p>
    <p>A feltölteni kivánt személy neve:</p>
    <input id="nev" type="text" placeholder="Név" />
    <button id="BtnSendDataToDb" type="submit">Feltölt</button>


    <p>
      Az új rekord azonosítója: <span id="uploadResult"></span>
    </p>
    

</div>


<div>
  <h2>Following names exist in the database at @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"):</h2>
  @{
    foreach (string name in ViewBag.Names) {
      <div>
        @name
      </div>
    }
  }
</div>
<p id="request">request</p>


<script>
    var buttonA = document.getElementById("BtnSendDataToDb");
    buttonA.onclick = function () {
        var str = document.getElementById("nev");
        var requestBody = JSON.stringify(str.value);

        var request = new XMLHttpRequest();
        request.open("POST", "/api/value");
        request.setRequestHeader("Content-Type", "application/json");
        request.onload = function() {
          document.getElementById("uploadResult").innerText = request.responseText;
        };
        request.send(requestBody);
    }
</script>

<script>
    var button = document.getElementById("BtnGetDB");
    button.onclick = function () {
        var str = document.getElementById("inputId");
        var request = new XMLHttpRequest();
        request.open("GET", "/api/value/" + str.value);
        request.onload = function() {
          alert(request.responseText);
        };
        request.send();
    };
    

</script>
